* {
    box-sizing: border-box;
  }
   
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin-top: -2rem;
  }


.shopping-cart {
    width: 750px;
    height: 520px;
    margin: 80px auto;
    background: white;
    display: flex;
    flex-direction: column;
  }

  .title {
    height: 60px;
    padding: 20px 30px;
    color: black;
    font-size: 18px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    height: 150px;
    display: flex;
  }

  .button-checkout {
    position: relative;
    padding-top: 50px;
    margin-right: 60px;
  }
  
   
  .delete-btn {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 17px;
    background: url("delete.svg") no-repeat center;
    margin-right: 20px;
  }
  
  .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    display: inline-block;
    background: url('images/twitter-heart.png');
    width: 70px;
    height: 70px;
    background-size: 2900%;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
   
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }

  .image {
    margin-right: 50px;
    width: 114px;
    height: 140px;
  }
   
  .description {
    padding-top: 30px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: black;
  }

  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }

  .quantity input {
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: black;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }

  .button-no-padding {
    padding: 0 !important;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }
  .total-price {
    width: 83px;
    padding-top: 40px;
    text-align: center;
    font-size: 16px;
    color: black;
    font-weight: 300;
  }

  
  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .image img {
      width: 30%;
    }
    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 10px 0;
    }
    .buttons {
      margin-right: 20px;
    }
  }


  /*checkout cart*/
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }

  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .checkout-container {
    padding: 0rem 4rem 3rem 4rem;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }

    .checkout-text {
      font-family: "PostGrotesk Light", serif;
      font-size: 1rem;
      font-weight: 400;
    }

    .checkout-main-text {
      font-family: "PostGrotesk Light", serif;
      font-size: 1.5rem;
      font-weight: 400;
    }

    .grey-text {
      color: #979797;
    }
  
  .checkout-button {
    background-color: black;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: white;
  }
  
  span.price {
    float: right;
    /* color: grey; */
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }