/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

/*
  1. change the default font
*/

* {
  box-sizing: border-box;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
  padding-top: 2rem;
}

h1 {
  font-family: "PostGrotesk Medium", serif;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: "PostGrotesk", serif;
  font-size: 2.5rem;
  margin-bottom: 0;
}

h3 {
  font-family: "PostGrotesk", serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

h4 {
  font-family: "PostGrotesk", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
}

/* for product listing page font */
h5 {
  font-family: "PostGrotesk Light", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
  margin-top: 0;
}

body {
  font-family: "relativemono", serif;
}

img {
  max-width: 100%;
  height: auto;
}

p:not(.price) {
  font-family: "relativemono", serif;
  font-size: 1rem;
  font-weight: 410;
  letter-spacing: 0.05em;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 0.5rem;
  max-width: 70%;
}

label {
  font-family: "PostGrotesk", serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0.5rem;
}

input [type=submit]{
  font-family: "PostGrotesk", serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
}

button [type=submit]{
  font-family: "PostGrotesk", serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
}

.button-style {
  background-color: #000;
  color: white;
  border: 1px solid black;
  font-family: "PostGrotesk", serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.8rem 1.7rem;
}

.button-style:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition-duration: 0.3s;
}


a {
  font-family: "PostGrotesk", serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: rgb(251,249,247);
  padding: 0.5rem;
  display: block;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Top nav for Style Guide */

.top-nav {
  list-style-type: none;
  margin: 3rem;
  padding: 0;
}

.top-nav li {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.top-nav li a {
  text-decoration: none;
  color: #333;
}

.top-nav li::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: transparent;
  bottom: -7px;
  left: 50%;
  top: 35px;
  transform: translateX(-50%);
  transition: background-color 0.3s ease;
}

.top-nav li:hover::after {
  background-color: #000;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: black;
  background-color: rgb(251,249,247);
  text-decoration-color: white;
  transition-property: lightgray; 
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: lightgray;

}
  
label{
  display:block;
  margin-top: 1em;
}

/* 
  3.The text input shows us when it has been interacted with, both on hover and focus
  source:https://developer.mozilla.org/en-US/docs/Web/CSS/:focus.
*/
a {
  color: darkgray;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
  color: black;
}

a img {
  width: 100%;
  height: auto;
}

a img:hover, a img:focus, a img:active {
  height: auto;
}
/* 
  6.The text input shows us when it has been interacted with, both on hover and focus
  source:https://css-tricks.com/css-link-hover-effects/
*/

input:focus{
  background-color: beige;
}

/*4.Add a different hover and focus state styling to the image as a link.
  source: https://www.w3schools.com/howto/howto_css_image_overlay_zoom.asp*/
.container-image-link {
  position: relative;
  width: 250px;
}


.image {
  width: 250px;
  height: 190px;
}

.button-style { 
  background-color: #000; 
  color: white; 
  border: 1px solid black; 
  font-family: "PostGrotesk", serif; 
  font-size: 1rem; 
  font-weight: 400; 
  padding: 0.8rem 1.7rem; 
} 
 
.button-style:hover { 
  background-color: white; 
  color: black; 
  border: 1px solid black; 
  transition-duration: 0.3s; 
} 

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: lightgrey;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
}
 
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cart-div {
  width: 40%;
}

/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/

/* Final Top Navigation */

.navbar-div {
  margin: 2rem 2.5rem 2rem 2rem;
  display: flex;
  justify-content: space-between;
}

.left-nav {
  list-style-type: none;
  padding: 0;
}

.left-nav li {
  display: inline-block;
  position: relative;
  margin-right: 1.5rem;
}

.left-nav li a {
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
}

.left-nav li::after {
  content: "";
  position: absolute;
  width: 5.5px;
  height: 5.5px;
  border-radius: 50%;
  background-color: transparent;
  bottom: -7px;
  left: 50%;
  top: 35px;
  transform: translateX(-50%);
  transition: background-color 0.3s ease;
}

.left-nav li:hover::after {
  background-color: #000;
}

.middle-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-img {
  width: 6.5rem;
  text-align: center;
}

.heart-logo {
  width: 1rem;
}

.search-icon {
  width: 1rem;
}

.heart-logo:hover,
.search-icon:hover {
  width: 1rem !important;
}

.right-nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.right-nav {
  display: inline-block;
  position: relative;
}

.right-nav a {
  text-decoration: none;
  color: #333;
  margin-left: 1.5rem;
  font-size: 0.9rem;
}

/* End of final top navigation */


/* Product Description */

.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #767C7C;}

/* drop down taken from https://www.w3schools.com/howto/howto_css_dropdown.asp */

.colorBlack {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: black;
  text-decoration: none;
}

.colorBeige{
  display: inline-block;
  padding: 0.5rem;
  color: #000000;
  background-color: #f4f0e0;
  text-decoration: none;
}

.colorWhite {
  display: inline-block;
  padding: 0.5rem;
  color: black;
  background-color: white;
  text-decoration: none;
}

.addtocart{
  display: inline-block;
  padding: 1rem;
  color: black;
  height: 50px;
  width: 323px;
  background-color: rgb(251,249,247);
  text-decoration-color: white;
  transition-property: lightgray; 
  border: 1px solid #000000;
  transition-duration: 0.5s;
  text-align: center;
}

.addtocart b:hover ,.addtocart b:focus{
  background-color: lightgray;
}

.colour-container1 { 
  height: 200px; 
  width: 200px; 
  background-color: white; 
  margin: 5px 20px 15px 20px; 
  padding: 0px; 
  border: 1px solid #000; 
  display: inline-block; 
} 

.block1 {
  border: 1px solid #000000;
  background-color: white; 
  text-align: center;
}

.block2 {
  border: 1px solid white;
  background-color: black; 
  color: white;
  text-align: center;
}

.block3 {
  border: 1px solid black;
  background-color: lightgray; 
  color: black;
  text-align: center;
}

.block4 {
  border: 1px solid black;
  background-color: #f8f8f8; 
  color: black;
  text-align: center;
}

/* Colour Palatte */
.palette-p { 
  width: 100%; 
  font-size: 12px !important; 
  color: black; 
  text-align: center; 
  flex: 1; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
} 
 
.white-text { 
  color: white; 
} 
 

/* Payment Form */
  
span.price {
  float: right;
  color: #000;
} 

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; 
  flex: 75%;
}

.col-50,
.col-75 {
  padding: 0 50px;
}

.container1 {
  background-color: #F3F4F1;
  display: inline-block;
  border: 1px transparent #0c0906;
}

.container2 {
  background-color: white;
  padding: 5px 20px 15px 20px;
  border: 1px solid #0c0906;
}

.container3 {
  background-color: #F3F4F1;
  padding: 40px;
  display: inline-block;
  border: 1px transparent #0c0906;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #CECDC8;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #0c0906;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border: 1px solid #0c0906;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: white;
  color: #0c0906;
}
/* end of payment form */

.listing-img {
  width: 40%;
  height: auto;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  background-color: #F3F4F1;
  width: 350px;
  margin: 20px 45px;
  border: 1px transparent #0c0906;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  transition: border-color 0.3s;
}

.product-image {
  width: 70% !important;
  height: auto;
  margin-top: 10%;
}

.product-title {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none !important;
  color: #000;
}

.product-price {
  color: #000;
  font-size: 14px;
}

.add-to-cart-button {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  margin-top: 10px;
  margin-bottom: 20px;
}

.add-to-cart-button:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  transition-duration: 0.5s;
}

.product-link {
  cursor: pointer;
}

.product-button {
  width: 100%;
  font-size: 0.8rem;
}

/* Footer */

.footer-header-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer-header-container h3 {
  font-size: 1.2rem;
  max-width: 450px;
}

@media screen and (min-width: 900px) {
  .footer-header-container{
    max-width: 1240px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-header-container h3{
    font-size: 1.4rem;
    max-width: 500px;
  }
}

footer {
  display: block;
  position: relative;
  padding-top: 2.5rem;
  width: 100%;
}

footer hr {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

@media screen and (min-width: 900px) { 
  footer { 
      padding-top: 2rem; 
  }

  footer hr {
    max-width: 800px;
  }
} 

.footer-content-container {
  background-color: #303030;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.footer-content-container h4 {
  color: white;
  margin-bottom: 1rem;
}

.footer-content-container p {
  color: white;
  max-width: 90%;
}

@media screen and (min-width: 1240px) { 
  .footer-content-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}  

.footer-grid-container {
  display: grid;
  margin-top: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.footer-grid-cols {
  grid-template-columns: repeat(1,minmax(0,1fr));
}

@media screen and (min-width: 900px) { 
  .footer-grid-container { 
      margin-top: 4.5rem; 
      grid-column-gap: 1.25rem;
      column-gap: 1.25rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }
  .footer-grid-cols {
    grid-template-columns: repeat(5,minmax(0,1fr));
  }
  .footer-grid-cols-span2 { 
    grid-column: span 2/span 2; 
  } 
} 

@media screen and (min-width: 1240px) { 
  .footer-grid-container {
    max-width: 1240px;
  }
}  

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  margin-top: 0.8rem;
}

footer a {
  font-family: "relativemono", serif;
  font-size: 1rem;
  font-weight: 410;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #979797;
  transition-property: color;
  transition-duration: 0.5s;
}

footer a:hover, footer a:focus, footer a:active {
  color: #FFFFFF;
}

footer input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #CECDC8;
  color: white;
  background-color:#303030; 
}

.newsletter p{
  font-size: 0.7rem;
}

/* end of Footer */

