.navbar-div {
    margin: 2rem 2.5rem 2rem 2rem;
    display: flex;
    justify-content: space-between;
}

.left-nav {
    list-style-type: none;
    padding: 0;
}

.left-nav li {
    display: inline-block;
    position: relative;
    margin-right: 1.5rem;
}

.left-nav li a {
    text-decoration: none;
    color: #333;
    font-size: 0.9rem;
}

.left-nav li::after {
    content: "";
    position: absolute;
    width: 5.5px;
    height: 5.5px;
    border-radius: 50%;
    background-color: transparent;
    bottom: -7px;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}

.left-nav li:hover::after {
    background-color: #000;
}

.middle-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-img {
    width: 6.5rem;
    text-align: center;
}

.heart-logo {
    width: 1rem;
}

.search-icon {
    width: 1rem;
}

.heart-logo:hover,
.search-icon:hover {
    width: 1rem !important;
}

.right-nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.right-nav {
    display: inline-block;
    position: relative;
}

.right-nav a {
    text-decoration: none;
    color: #333;
    margin-left: 1.5rem;
    font-size: 0.9rem;
}