/* Grid for product description */

.grid-container-product-description {
    display: grid;
}

.grid-product-description-col { 
    grid-template-columns: repeat(1,minmax(0,1fr)); 
}

@media screen and (min-width: 900px) { 
    .grid-product-description-col { 
        grid-template-columns: repeat(12,minmax(0,1fr)); 
    } 
} 

@media screen and (min-width: 900px) { 
    .product-description-product-grid-image-container { 
        grid-column: span 6/span 6;
    } 
}

@media screen and (min-width: 1240px) { 
    .product-description-product-grid-image-container { 
        grid-column: span 7/span 7;
    } 
}

.product-description-image-container {
    background-color: #F3F4F1;
    height: 40rem;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    .product-description-image-container {
        height: 50rem;
    }
}

@media screen and (min-width: 1240px) {
    .product-description-image-container {
        height: 70rem;
    }
}

.product-description-image {
    max-width: 700px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    left: 50%;
}

@media screen and (min-width: 900px) {
    .product-description-image {
        max-width: 800px;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
}

@media screen and (min-width: 1240px) {
    .product-description-image {
        max-width: 1200px;
        padding-top: 17rem;
        padding-bottom: 17rem
    }
}

.product-description-form-grid-container {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 900px) { 
    .product-description-form-grid-container { 
        grid-column: span 6/span 6;
        padding-top: 6rem;
        padding-bottom: 2.5rem;
        padding-left: 0;
        padding-right: 0;
    } 
}

@media screen and (min-width: 1240px) { 
    .product-description-form-grid-container { 
        grid-column: span 5/span 5;
    } 
}

.product-description-form-container {
    width: 100%;
    max-width: 24rem;
    margin: auto;
}

.product-description-form {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 900px) {
    .product-description-form {
        border-style: solid;
        border-left-width: 1px;
        border-right-width: 1px;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-color: #CECDC9;
    }
}

@media screen and (min-width: 900px) {
    .product-description-form-content {
        padding-top: 2.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

.product-description-textbox-border {
    border-width: 0.5px;
    border-style: solid;
    border-color: #A8A7A2;
}

.product-description-textbox {
    text-transform: uppercase;
    font-size: 0.75rem;
    padding-top: 6px;
    padding-bottom: 2px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #A8A7A2;
}

.product-description-heading-title {
    font-size: 0.7rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.product-description-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.75rem;
}

.product-description-subtitle {
    margin-top: 0.1rem;
    font-size: 1.25rem;
}

.product-description-product-text{
    font-size: 1rem;
}

.product-description-ingredients-title {
    margin-top: 3rem;
    font-size: 1rem;
}

.product-description-form-content p {
    font-size: 0.75rem;
    max-width: 100%;
}

.product-description-add-to-cart {
    margin-top: 1.5rem;
    border-color: #A8A7A2;
}

/* End of grid for product description */

/* Content below product description */

.product-description-content-container {
    width: 100%;
    margin-top: 3rem;
    margin-left: auto; 
    margin-right: auto; 
    padding-right: 1rem; 
    padding-left: 1rem; 
} 

@media screen and (min-width: 900px) { 
    .product-description-content-container { 
        max-width: 1240px; 
        padding-right: 3rem; 
        padding-left: 3rem; 
    } 
} 

.big-text {
    font-family: "relativemono", serif;
    font-size: 1.5rem;
}

/* Grid for product description content */
.product-description-content-grid-container {
    display: grid;
    margin-top: 4rem;
}

.product-description-content-grid-col {
    grid-template-columns: repeat(1,minmax(0,1fr));
}

@media screen and (min-width: 900px) { 
    .product-description-content-grid-col { 
        grid-template-columns: repeat(7,minmax(0,1fr)); 
    } 
}

@media screen and (min-width: 900px) { 
    .product-description-content-grid-review { 
        grid-column: span 3/span 3;
    } 
}

.product-description-content-review-text-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (min-width: 900px) { 
    .product-description-content-review-text-container { 
        padding-left: 3rem;
        padding-right: 3rem;
        margin-left: auto;
        margin-right: auto;
    } 
}

@media screen and (min-width: 1600px) { 
    .product-description-content-review-text-container { 
        padding-left: 6rem;
        padding-right: 6rem;
    } 
}

.product-description-content-review-name {
    font-size: 1.3rem;
    margin-top: 0rem;
    margin-bottom: 0;
}

@media screen and (min-width: 1240px) { 
    .product-description-content-review-name { 
        margin-top: 4rem;
    } 
}

@media screen and (min-width: 1700px) { 
    .product-description-content-review-name { 
        margin-top: 10rem;
    } 
}

.product-description-content-review-sub-description {
    font-size: 1.3rem;
    margin-top: 0;
}

.product-description-content-review-text-container p {
    font-size: 0.95rem;
}

.product-description-content-review-date {
    font-size: 1rem;
    color: #A8A7A2;
    margin-bottom: 1rem;
}

.product-description-content-review-hyperlink {
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: underline;
}

@media screen and (min-width: 900px) { 
    .product-description-content-grid-review-image { 
        grid-column: span 2/span 2;
    } 
}

.product-description-content-grid-review-image img {
    object-fit: cover;
    max-width: 100%;
    min-height: 0;
    height: 100%;
    object-fit: cover;
}

/* Grid for product description content */

/* Grid for small PLP in Product Description */

.plp-pdp-container { 
    width: 100%; 
    margin-top: 2rem; 
    margin-left: auto; 
    margin-right: auto; 
    padding-right: 1rem; 
    padding-left: 1rem; 
    padding-bottom: 2.25rem; 
} 
 
@media screen and (min-width: 900px) { 
    .plp-pdp-container { 
        margin-top: 3rem; 
        padding-bottom: 4.5rem; 
    } 
} 
 
@media screen and (min-width: 1240px) { 
    .plp-pdp-container { 
        max-width: 1240px; 
        padding-right: 3rem; 
        padding-left: 3rem; 
    } 
} 

.product-description-plp-grid-col {
    grid-template-columns: repeat(1,minmax(0,1fr));
    grid-gap: 1rem; 
    gap: 1rem; 
}

@media screen and (min-width: 900px) { 
    .product-description-plp-grid-col { 
        grid-template-columns: repeat(3,minmax(0,1fr)); 
        grid-gap: 1.25rem; 
        gap: 1.25rem; 
    } 
}

.pdp-product-listing-card {
    width: 100%;
    text-align: left;
    background-color: #F3F4F1;
    padding: 1rem;
    padding-bottom: 0;
}

.pdp-product-listing-card-description-container {
    display: flex;
}

.pdp-product-listing-card-desctiption {
    flex: 70%;
}

.pdp-product-listing-card p{
    margin: 0;
}

.pdp-product-listing-card h5 {
    margin-bottom: 1rem;
}

.pdp-product-listing-card-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
}


/* End of grid for small PLP in Product Description */


/* End of content below product description */
