/* Grid for product description */

.grid-container-product-description {
    display: grid;
}

.grid-product-description-col { 
    grid-template-columns: repeat(1,minmax(0,1fr)); 
}

@media screen and (min-width: 900px) { 
    .grid-product-description-col { 
        grid-template-columns: repeat(12,minmax(0,1fr)); 
    } 
} 

@media screen and (min-width: 900px) { 
    .product-description-product-grid-image-container { 
        grid-column: span 6/span 6;
    } 
}

@media screen and (min-width: 1240px) { 
    .product-description-product-grid-image-container { 
        grid-column: span 7/span 7;
    } 
}

.product-description-image-container {
    background-color: #F3F4F1;
    height: 40rem;
}

@media screen and (min-width: 900px) {
    .product-description-image-container {
        height: 50rem;
    }
}

@media screen and (min-width: 1240px) {
    .product-description-image-container {
        height: 70rem;
    }
}

.product-description-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    position: relative;
}

@media screen and (min-width: 700px) {
    .product-description-image {
        max-width: 680px;
    }
}

@media screen and (min-width: 900px) {
    .product-description-image {
        padding-top: 10rem;
        padding-bottom: 7rem;
    }
}

@media screen and (min-width: 1240px) {
    .product-description-image {
        padding-top: 15rem;
    }
}

/* End of grid for product description */